@import "tailwindcss";

@theme {
  --color-surface-tint: #5e34e7;
  --color-on-surface: #2b2f34;
  --color-error-container: #f74b6d;
  --color-outline-variant: #aaadb4;
  --color-on-secondary-fixed-variant: #7900c5;
  --color-on-tertiary-fixed: #170059;
  --color-surface-container-high: #dee3ec;
  --color-on-secondary-container: #6c00b0;
  --color-on-secondary-fixed: #510086;
  --color-secondary-fixed-dim: #deb3ff;
  --color-background: #f3f6fd;
  --color-secondary: #8900dd;
  --color-on-error-container: #510017;
  --color-inverse-surface: #0a0f13;
  --color-on-background: #2b2f34;
  --color-primary-container: #a491ff;
  --color-tertiary-fixed-dim: #a595ff;
  --color-inverse-primary: #947dff;
  --color-surface: #f3f6fd;
  --color-primary-dim: #5120db;
  --color-surface-bright: #f3f6fd;
  --color-primary-fixed-dim: #9780ff;
  --color-on-tertiary-container: #2f009c;
  --color-on-tertiary-fixed-variant: #3800b4;
  --color-secondary-container: #e7c5ff;
  --color-error: #b41340;
  --color-surface-dim: #cfd5df;
  --color-surface-container-highest: #d8dde7;
  --color-on-surface-variant: #585c62;
  --color-on-secondary: #fceeff;
  --color-surface-container-low: #edf1f8;
  --color-on-primary: #f6f0ff;
  --color-surface-container: #e4e8f1;
  --color-error-dim: #a70138;
  --color-outline: #73777d;
  --color-on-primary-fixed: #000000;
  --color-secondary-fixed: #e7c5ff;
  --color-tertiary-fixed: #b3a5ff;
  --color-tertiary-container: #b3a5ff;
  --color-on-primary-container: #230075;
  --color-on-error: #ffefef;
  --color-on-tertiary: #f6f0ff;
  --color-primary: #5e34e7;
  --color-tertiary: #5a2af7;
  --color-primary-fixed: #a491ff;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-dim: #4e0bec;
  --color-on-primary-fixed-variant: #2d008e;
  --color-secondary-dim: #7800c3;
  --color-surface-variant: #d8dde7;
  --color-inverse-on-surface: #999da3;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body selection:bg-primary/20 selection:text-primary;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    @apply inline-block;
  }
  .filled {
    font-variation-settings: 'FILL' 1;
  }
  .perspective-chip {
    @apply bg-surface-container-highest rounded px-3 py-1 text-xs font-bold text-on-surface-variant font-label;
  }
  .glass-header {
    @apply bg-surface/80 dark:bg-slate-950/80 backdrop-blur-xl;
  }
  .editorial-gradient {
    background: linear-gradient(135deg, #7551FF 0%, #A838FF 100%);
  }
  .primary-gradient {
    background: linear-gradient(135deg, #7551FF 0%, #A838FF 100%);
  }
}